* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: #3B4664;
}

.page-title {
    font-size: 4em;
    text-align: center;
    color: white;
    font-weight: bold;
}

.output-screen {
    font-size: 2em;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #191F30;
    width: 380px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0 auto;
    border-radius: 8px;
    padding-right: 20px;
}

.buttons-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #262D44;
    width: 380px;
    height: 320px;
    border-radius: 8px;
    margin-top: 10px;
}

.small-buttons-section {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    grid-gap: 20px;
    column-gap: 20px;
    position: absolute;
    align-self: flex-start;
    margin-top: 20px;
    
}

.small-button {
    width: 70px;
    height: 40px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 1em;
    
}

.large-buttons-section {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
    justify-content: center;
    position: relative;
    align-self: flex-end;
    margin-bottom: 20px;
    
}

.large-button {
    width: 160px;
    height: 40px;
    border-radius: 5px;
    background-color: #637298;
    font-weight: bold;
    font-size: 1em;
}

#delete {
    background-color: #637198;
    color: white;
}

#equal {
    background-color: #D13F31;
    color: white;
}

#reset {
    background-color: #637198; 
    color: white;
}